*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    color: white;
}
.authContainer{
    background-color: grey;
    color: while;
    width: 40vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}